<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
<h1 id="pageTitle">Change Password</h1>
<div id="registerFields">
    <p style="color: red;" th:if="${errorMessage}">[[${errorMessage}]]</p>
    <form action="/changePassword" method="post">
        <label for="oldPassword">Old password:</label><br>
        <input id="oldPassword" name="oldPassword" required type="password"><br>
        <label for="newPassword">New password:</label><br>
        <input id="newPassword" name="newPassword" required type="password"><br>
        <label for="repeatPassword">Repeat new password:</label><br>
        <input id="repeatPassword" name="repeatPassword" required type="password"><br><br>
        <button type="submit">Change Password</button>
    </form>
</div>

</body>
</html>
