<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <style>
        #header {
            position: relative;
        }
        .top-right-container {
            position: absolute;
            top: 10px;
            right: 10px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        .top-right-container button {
            margin-bottom: 5px;
        }
        .expense-button {
            display: block;
            width: 100%;
            margin-bottom: 2px;
        }
        .centered-table-element{
            text-align: center;
            vertical-align: middle;
            padding: 0;
        }
        .centered-table-element input[type="checkbox"] {
            margin: 0;
            transform: scale(1.5);
        }
    </style>
</head>
<body>
<div id="header">
    <h1>Welcome, <span th:text="${username}"></span>!</h1>
    <form action="/changeMonth" id="monthForm" method="post">
        <label for="month">Select Month:</label>
        <select id="month" name="month">
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>
        <button type="submit">Change</button>
    </form>
    <form action="/filterBy" id="filterBy" method="post">
        <label for="filter">Filter By:</label>
        <select id="filter" name="filter">
            <option value="Date">Date</option>
            <option value="Category">Category</option>
            <option value="Amount">Amount</option>
        </select>
        <button name="ascending" type="submit">Filter Ascending</button>
        <button name="descending" type="submit">Filter Descending</button>
    </form>
    <div class="top-right-container">
        <a href="/logout" id="logout">
            <button>Logout</button>
        </a>
        <a href="/showChangePasswordPage" id="changePassword">
            <button>Change Password</button>
        </a>
        <a href="/showDeleteAccountPage" id="deleteAccount">
            <button>Delete Account</button>
        </a>
    </div>
</div>
<div id="expenses">
    <h2 style="margin-bottom: 0;">Month: <span th:text="${month}"></span></h2>
    <h2 style="margin-top: 0;">Filtered by: <span th:text="${filter}"></span></h2>
    <table> <!-- TODO: Add border and column spacing inbetween-->
        <thead>
        <tr>
            <th>Date</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Description</th>
            <th>
                <form id="deleteOrEditExpensesForm" method="post">
                    <input id="actionType" name="actionType" type="hidden" value="">
                    <button class="expense-button" id="deleteExpenses" onclick="setActionType('delete')" type="submit">
                        Delete
                    </button>
                    <button class="expense-button" id="editExpenses" onclick="setActionType('edit')" type="submit">
                        Edit
                    </button>
                </form>
            </th>
            <th>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="expense : ${expenses}">
            <td class="centered-table-element" th:text="${#temporals.format(expense.date, 'dd.MM.yyyy')}"></td>
            <td class="centered-table-element" th:text="${expense.category.name}"></td>
            <td class="centered-table-element" th:text="${expense.amount}"></td>
            <!-- TODO: Make the description field to not stretch horizontally, but create new rows instead vertically -->
            <td class="centered-table-element" th:text="${expense.description}"></td>
            <td class="centered-table-element"><label for="expenseId"></label>
                <input id="expenseId" name="expenseId" th:value="${expense.id}" type="checkbox"/>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <a href="/new_expense">
        <button type="button">Add Expense</button>
    </a>
</div>
<script>
    function setActionType(action) {
        document.getElementById('actionType').value = action;
    }

    document.getElementById("deleteOrEditExpensesForm").addEventListener("submit", function (event) {
        event.preventDefault();

        var selectedExpenses = [];
        var checkboxes = document.querySelectorAll('input[name="expenseId"]:checked');
        var actionType = document.getElementById('actionType').value;

        if (checkboxes.length === 0) {
            alert("Please select expenses to " + actionType + "!");
            return;
        }

        checkboxes.forEach(function (checkbox) {
            selectedExpenses.push(checkbox.value);
        });

        var xhr = new XMLHttpRequest();
        xhr.open("POST", actionType === "delete" ? "/deleteExpenses" : "/setExpensesToEdit");
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.onload = function () {
            if (xhr.status === 200) {
                window.location.href = actionType === "delete" ? "/dashboard" : "/edit_expenses";
            } else {
                console.error('Error:', xhr.responseText);
            }
        };
        xhr.send(JSON.stringify(selectedExpenses));
    });
</script>
</body>
</html>
