<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <style>
        #logout {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    </style>
</head>
<body>
<div id="header">
    <h1>Welcome, <span th:text="${username}"></span>!</h1>
    <form action="/changeMonth" id="monthForm" method="post">
        <label for="month">Select Month:</label>
        <select id="month" name="month">
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select>
        <button type="submit">Change</button>
    </form>
    <a href="/logout" id="logout">Logout</a>
</div>
<div id="expenses">
    <h2>Expenses - <span th:text="${month}"></span></h2>
    <table>
        <thead>
        <tr>
            <th>Date</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="expense : ${expenses}">
            <td th:text="${#temporals.format(expense.date, 'dd.MM.yyyy')}"></td>
            <td th:text="${expense.category.name}"></td>
            <td th:text="${expense.amount}"></td>
            <td th:text="${expense.description}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <a href="/new_expense">
        <button type="button">Add Expense</button>
    </a>
</div>
</body>
</html>
