<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1 id="pageTitle">Welcome to Spending Tracker!</h1>
<div id="loginFields">
    <form action="/login" method="post">
        <label for="username">Username:</label><br>
        <input id="username" name="username" required type="text"><br>
        <label for="password">Password:</label><br>
        <input id="password" name="password" required type="password"><br><br>
        <button type="submit">Login</button>
        <a href="/register">
            <button type="button">Register</button>
        </a>
    </form>
</div>
</body>
</html>
