<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Expense</title>
</head>
<body>
<h1>Add New Expense</h1>
<form action="/dashboard" method="post">
    <label for="date">Date:</label>
    <input id="date" name="date" required type="date"><br><br>

    <label for="amount">Amount:</label>
    <input id="amount" min="0" name="amount" required step="0.01" type="number"><br><br>

    <label for="category">Category:</label>
    <select id="category" name="category" required>
        <!-- TODO: CHANGE from hardcoded to fetching them from the DB-->
        <option value="Food">Food</option>
        <option value="Transportation">Transportation</option>
        <option value="Utilities">Utilities</option>
    </select><br><br>

    <label for="description">Description:</label><br>
    <textarea cols="50" id="description" name="description" rows="4"></textarea><br><br>

    <button type="submit">Save Expense</button>
</form>
</body>
</html>
