<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1 id="pageTitle">Register for Spending Tracker</h1>
<div id="registerFields">
    <form action="/register" method="post" onsubmit="return checkIfPasswordsAreIdentical()">
        <label for="username">Username:</label><br>
        <input id="username" name="username" required type="text"><br>
        <label for="password">Password:</label><br>
        <input id="password" name="password" required type="password"><br>
        <label for="repeatPassword">Repeat Password:</label><br>
        <input id="repeatPassword" name="repeatPassword" required type="password"><br><br>
        <button type="submit">Register</button>
    </form>
</div>

<script>
    function checkIfPasswordsAreIdentical() {
        var password = document.getElementById("password").value;
        var repeatPassword = document.getElementById("repeatPassword").value;

        if (password !== repeatPassword) {
            alert("Passwords do not match");
            return false;
        }
        return true;
    }
</script>

</body>
</html>
