<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<h1 id="pageTitle">Register for Spending Tracker</h1>
<div id="registerFields">
    <p style="color: red;" th:if="${errorMessage}">[[${errorMessage}]]</p>
    <form action="/register" method="post">
        <label for="username">Username:</label><br>
        <input id="username" name="username" required type="text"><br>
        <label for="password">Password:</label><br>
        <input id="password" name="password" required type="password"><br>
        <label for="repeatPassword">Repeat Password:</label><br>
        <input id="repeatPassword" name="repeatPassword" required type="password"><br><br>
        <button type="submit">Register</button>
    </form>
</div>

</body>
</html>
